<ion-header id="title" no-border>
  <ion-toolbar>
    <ion-title id="color-red">
       health tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/smile.png"></ion-img> 
        <ion-text class="menuLabel"> HAPPY</ion-text>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/sad.png"></ion-img>
        <ion-text class="menuLabel"> SAD</ion-text>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/weird.png"></ion-img> 
        <ion-text class="menuLabel"> OKAY</ion-text>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/scared.png"></ion-img>
        <ion-text class="menuLabel"> ANXIOUS</ion-text>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/disgusted.png"></ion-img> 
        <ion-text class="menuLabel"> SCARED</ion-text>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <div>
        <ion-img class="icon" src="../../assets/nervous.png"></ion-img>
        <ion-text class="menuLabel"> STRESSED</ion-text>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
