/*Todo: change fonts*/
ion-content, ion-toolbar{
  --background: #F4F4F4;
}
#title {
  overflow:hidden;
  line-height: 5rem;
  padding-left: 4rem;
  background: url('../../assets/health.png') no-repeat left center;
  background-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
ion-title#color-red{
  color: #DB1848;
  font-size: 2rem;
  padding:0;
}

ion-item {
  margin: 0.5rem 1rem 0 1rem;
  border: 1px solid #D6D7DF;
  border-radius: 10px;
  --background-activated-opacity: 1;
  --background-activated: #DB1848;
  --color-activated: white;
  font-family: 'SF-Pro-Light';
  --height: 3em;
}
ion-img.icon {
  width: 100%;
  margin: 1em;
}
ion-text.menuLabel {
  color: #707070;
}

/*=============================how are you feeling*/
ion-title#page-title {
  font-size: 1.5rem;
  color: #707070;
  border-bottom: 1px solid #707070;
  margin: 0 2rem 0 2rem;
  padding-left: 0;

}
p.content {
  color: #707070;
  margin-left: 2rem;
  margin-right:2rem;
  font-size: 1rem;

}

.top-buttons{
  margin: 0;
  padding: 0;
}

ion-button.top-buttons{
  font-family: 'SF-Pro-Light';
  margin: 0;
  padding: 0;
  --background: transparent;
  --color: black;
  --border-color: #707070;
  --border-width: 1px;
  width: 100%;
  --border-radius: 0;
}

ion-row.top-buttons{
  margin: 0 1em;
}

ion-button.top-buttons.selected{
  --background: #DB1848;
  --color: white;
}