<ion-header id="title" no-border>
  <ion-toolbar>
    <ion-title id="color-red">
       health tracker
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-row class="top-buttons">
    <ion-col class="top-buttons">
      <ion-button class="top-buttons selected"  fill="outline"> mood </ion-button>
    </ion-col>
    <ion-col class="top-buttons">
      <ion-button class="top-buttons" fill="outline">symptoms</ion-button>
    </ion-col>
    <ion-col class="top-buttons">
      <ion-button class="top-buttons" fill="outline">report</ion-button>
    </ion-col>
  </ion-row>

  <ion-toolbar>
    <ion-title id ="page-title" class="content-title">How are you feeling today?</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/smile.png"></ion-img> 
        <ion-text class="menuLabel"> HAPPY</ion-text>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/sad.png"></ion-img> <br>
        <ion-text class="menuLabel"> SAD</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/weird.png"></ion-img> 
        <ion-text class="menuLabel"> OKAY</ion-text>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/scared.png"></ion-img> <br>
        <ion-text class="menuLabel"> ANXIOUS</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/disgusted.png"></ion-img> 
        <ion-text class="menuLabel"> SCARED</ion-text>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button="true" lines="none">
        <ion-img class="icon" src="../../assets/nervous.png"></ion-img> <br>
        <ion-text class="menuLabel"> STRESSED</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
