form{
    font-family:"SF-Pro-Light";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:-webkit-fill-available;
    margin-left: 1rem;
    margin-right:1rem;
    text-align:center;
    display: flex;
    flex-direction: column;
}

//label color
.ion-color.sc-ion-label-md-h {
    color: #DB1848;
}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    font-family: "SF-Pro-Light";
}

.validation-errors{
    margin-top: 0.5rem;
    text-align: initial;
    font-size: 0.8rem;
    color: #707070;
}

//style button
ion-button.submit-btn.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    --border-radius: 2rem;
    font-size: 0.8rem;
    --background: #DB1848;
    padding: 0.2rem;
    margin-top: 0.5rem;
    width: fit-content;
    align-self: center;
}

.go-to-register{
    color:#707070;
    font-size:0.8rem;
}

a{
    color: #707070;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 0.8rem;
}