<!-- <ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content id="tab4Page">
  <ion-grid>
    <ion-img id="profilePic" src="../../assets/accountSettings.png"></ion-img>
    <ion-row>
      <ion-col text-center id="greeting">
        Hello, <span id="firstName"> {{authService.firstName}} </span>!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center id="userEmail"> {{userEmail}}</ion-col>
    </ion-row>
    <br>
    <!-- <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/accountSettings.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Account Settings</ion-col> 
        </ion-row> </span>
    </ion-button>
    <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/team.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Connext With Friends</ion-col> 
        </ion-row> </span>
    </ion-button>
    <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/bell.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Notification Settings</ion-col> 
        </ion-row> </span>
    </ion-button>
    <br>
    <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/question.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Support</ion-col> 
        </ion-row> </span>
    </ion-button>
    <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/contract.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Terms of Service</ion-col> 
        </ion-row> </span>
    </ion-button>
        <ion-button fill="outline" class="menu" expand="block" > 
      <span> <ion-row>
          <ion-col class="icon"><ion-img id="account" src="../../assets/lock.png"></ion-img></ion-col> 
          <ion-col class="menuLabel">Privacy Policy</ion-col> 
        </ion-row> </span>
    </ion-button> -->


  <ion-list>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/accountSettings.png"></ion-img>
      <ion-label class="menuLabel"> Account Settings</ion-label>
    </ion-item>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/team.png"></ion-img>
      <ion-label class="menuLabel"> Connect With Friends</ion-label>
    </ion-item>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/bell.png"></ion-img>
      <ion-label class="menuLabel"> Notification Settings</ion-label>
    </ion-item>
    <br>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/question.png"></ion-img>
      <ion-label class="menuLabel"> Support</ion-label>
    </ion-item>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/contract.png"></ion-img>
      <ion-label class="menuLabel"> Terms Of Service</ion-label>
    </ion-item>
    <ion-item class="menuButton" button="true" lines="none">
      <ion-img class="icon" src="../../assets/lock.png"></ion-img>
      <ion-label class="menuLabel"> Privacy Policy</ion-label>
    </ion-item>
  </ion-list>
   
  </ion-grid>  

  <ion-button (click)="logout()" id="logoutButton">Log-out</ion-button>

</ion-content>
