/*Todo: change fonts*/
ion-content, ion-toolbar, ion-item{
    --background: #F4F4F4;
  }

  #title {
    overflow:hidden;
    line-height: 5rem;
    padding-left: 4rem;
    background: url('../../../assets/icon/tab3-red.png') no-repeat left center;
    background-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  ion-title#color-red{
    color: #DB1848;
    font-size: 2rem;
    padding:0;
  }
.list-md{
    background:transparent;
}
ion-item{
    --border-color:transparent;
}
/*-------------items*/
ion-title.article-label{
    font-size: 1.5rem;
    color: #707070;
    border-bottom: 1px solid #707070;
    margin: 0 1rem 0 1rem;
    padding-left: 0;
}
p{
    color: #707070;
    margin-left: 2rem;
    margin-top:0.5rem;
    margin-right:1rem;
    font-size: 1rem;
}
ion-text .link{
    color:#707070;
}
p ul.sc-ion-label-md-s p.list {
    font-size: 1rem;
    margin-left: -2.5rem;
}