<ion-content>
    <!--title-->
    <ion-header id="title" no-border>
      <ion-toolbar>
        <ion-title id="color-red">
           education
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list lines="inset">
      <ion-item *ngFor="let article of loadedArticle.content">
        <ion-label class="ion-text-wrap">
        <ion-title class="article-label">
          {{article.title}}
        </ion-title>
        <ion-text>
          <p [innerHTML]= "article.content"></p>
        </ion-text>
      </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
