<!--Flow:
- Header: image & label
- Content:
  - disclaimer: labels
  - multiple clickable cards: image & labels
-->

<ion-content [fullscreen]="true">
  <!--title-->
  <ion-header id="title" no-border>
    <ion-toolbar>
      <ion-title id="color-red">
         education
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <!--disclaimer-->
    <ion-toolbar>
      <ion-title id ="disclaimer-title" class="content-title">disclaimer</ion-title>
      <p class="content">Due to the nature of COVID-19, the facts available about the virus are ever-changing and often unclear. </p>
      <p class="content">Below is the most up to date information provided by the Center for Disease Control and the World Health Center.</p>
    </ion-toolbar>

    <!--List of edu contents-->
    <ion-list>
      <ion-item *ngFor="let article of articles">
        <ion-img class="article-icon" [src]="article.iconUrl"></ion-img>
        <ion-label class="article-label">{{article.title}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
